//settings

$font-1: var(--primary-font);
$font-2: var(--heading-font);
$fontIcon: 'icomoon';

// color
$primary: var(--primary-color);
$primary-hover: var(--hover-color);
$critical: #c72929;
$yellow: #f4d118;
$success: #65d78d;
$white: #ffffff;
$surface: #e4eaf5;
$outline: rgb(5 75 160 / 50%);
$on-surface: #161e2d;
$variant-1: #5c6368;
$body: #63697d;
$accent: #e2530d;
$green: #52bc77;

$backdrop: rgba(22, 30, 45, 0.3);

$garden-1: linear-gradient(89.9deg, rgba(15, 78, 152, 0.7) 0.07%, rgba(238, 103, 66, 0.7) 99.9%);
$garden-2: linear-gradient(180deg, rgba(11, 33, 50, 0) 0%, rgba(11, 33, 50, 0.9) 100%);
$garden-3: linear-gradient(89.9deg, #0f4e98 0.07%, #ee6742 99.9%);
$garden-4: linear-gradient(180deg, rgba(11, 33, 50, 0) 0%, #161e2d 100%);

$rgba-white: rgba(255, 255, 255, 0.1);
$rgba-black: rgba(11, 33, 50, 0.4);
$rgba-black-hover: rgba(0, 0, 0, 0.5019607843);
$shadow-1: 0px 10px 25px 0px rgba(54, 95, 104, 0.1);
$shadow-2: 0px 10px 25px 0px #365f681a;
